# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=
APP_ENV=development

# Product application login (use AUTH_PASSWORD_HASH in production)
AUTH_USERNAME=admin
AUTH_PASSWORD_HASH=

# Database Configuration
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=